<!doctype html>
<html>
  <head>
    <title>{settings.name}: Admin</title>
    <link href="style/catlg.css" rel="stylesheet">
    <link href="style/admin.css" rel="stylesheet">
    <script src="/_utils/script/jquery.js"></script>
    <script src="/_utils/script/jquery.couch.js"></script>
    <script src="script/jquery.ba-bbq.min.js"></script>
    <script src="script/jquery.validate.min.js"></script>
    <script src="script/ddoc-require.js"></script>
    <script src="script/admin.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="#docs">docs</a> |
        <a href="#models">models</a> |
        <a href="#templates">templates</a>
      </nav>
      <div>Admin for {settings.name}</div>
    </header>
    <section id="content">
      <p>Welcome.</p>
    </section>
    <footer>
      <div id="courtesy">Catlg</div>
    </footer>
  </body>
</html>
