<nav class="edit">
  <h1><a href="#models">models</a></h1>
  <ul>
    {for model in models}
    <li><a href="{model.link}">{model.name}</a></li>
    {/for}
  </ul>
</nav>
<section class="edit">
  <form id="modelForm">
    <div class="submit">
      <input name="save" type="submit" value="save">
      <input name="delete" type="button" value="delete">
    </div>
    <div>
      <input type="text" id="name" name="name" value="{thisModel.name}">
    </div>
    <div>
      <textarea cols="80" rows="40" id="body" name="body">{thisModel.body}</textarea>
    </div>
    <div>
      <input name="save" type="submit" value="save">
      <input name="delete" type="button" value="delete">
    </div>
  </form>
</section>
