<!doctype html>
<html>
  <head>
    <title>Catlg</title>
    {{>scripts}}
  </head>
  <body>
    <!--<p>{{req}}</p>-->
  {{#doc}}
  <article>
  {{{formatted}}}
  </article>
  {{/doc}}
  {{^doc}}
  <div id="docs"></div>
  <script>
    var db = catlg.db('{{db}}');
    db.view('catlg/title', {
      success: function(resp) {
        //$('#docs').append('<p>' + JSON.stringify(resp) + '</p>');
        resp.rows.forEach(function(row) {
          $('#docs').append('<p>' + row.key + '</p>');
        });
      },
      error: function(stat, error, reason) {
        $('#docs').text('No docs found: ' + reason);
      }
    });
  </script>
  {{/doc}}
  </body>
</html>
