<!doctype html>
<html>
  <head>
    <title>Catlg</title>
    <link rel="stylesheet" href="/{{db}}/_design/catlg/style/catlg.css">
  </head>
  <body>
    <div id="admin">
      <div id="admin-actions">
        <a href="#edit">edit</a>
        <a href="#add">add</a>
        <a href="#delete">delete</a>
      </div>
    </div>
{{#doc}}
    <article>
      <form id="edit-form" method="get">
        {{{formatted}}}
        <div class="input">
          <input type="submit">
        </div>
      </form>
    </article>
    {{/doc}}
    {{>scripts}}
    <script>
      var globalForm;
      $('#edit-toggle').click(function() {
        $('.display').animate({
          height: 'toggle'
        }, 1000);
        $('.input').animate({
          height: 'toggle'
        }, 1000);
      });
      //alert($('#title').attr('separator'));
      $('#edit-form').validate({
        submitHandler: function(form) {
          var doc = {
            _id: '{{_id}}',
            _rev: '{{_rev}}',
            type: '{{type}}'
          };
          //console.log($(form));
          $.each($(form).serializeArray(), function(i, field) {
            if (field.value) {
              var $field = $('[name="' + field.name + '"]');
              if ($field.hasClass('repeatable')) {
                doc[field.name] = [];
                var sep = $field.attr('separator') || ',';
                var values = field.value.split(sep);
                $.each(values, function(i, val) {
                  doc[field.name].push($.trim(val));
                });
              } else {
                doc[field.name] = field.value;
              }
            }
          });
          console.log(doc);
          var db = catlg.db('{{db}}');
          db.saveDoc(doc, {
            success: function(resp) {
              //console.log(resp);
              window.location.reload(true);
            },
            error: function(stat, error, reason) {
              console.log('error: ' + reason);
            }
          });
        }
      });
    </script>
  </body>
</html>
