body {
  background-color: #323;
  font-family: sans;
  margin: 0;
}
h1 {
  margin-top: 0;
}
div.input {
  display: none;
}
footer {
  border-top: 2px solid #222;
  overflow: auto;
  padding: 10px;
}
header {
  background-color: #767;
  padding: 5px;
}
#admin {
  border-bottom: 2px solid #222;
  overflow: auto;
  padding: 5px;
}
#admin a {
  color: #ddd;
  text-decoration: none;
  border: 1px solid #323;
  padding: 1px;
}
#admin a:hover {
  border: 1px dotted #ddd;
}
#admin-actions {
  float: right;
}
#box {
  background-color: #fff;
  border: 1px solid #bbb;
  display: none;
  left: 50%;
  margin-left: -400px;
  padding: 5px;
  position: absolute;
  top: 40px;
  width: 800px;
}
#content {
  background-color: #ddd;
  overflow: auto;
  padding: 10px;
}
#courtesy {
  float: right;
}
#logo {
  font-family: serif;
  font-size: 48px;
  letter-spacing: 2px;
  margin: 0;
}
#logo a {
  text-decoration: none;
}
#welcome {
  background-color: #eee;
  border: 1px solid #bbb;
  margin: 10px;
  padding: 10px;
}
