body {
  background-color: #eee;
  font-family: sans;
  margin: 0;
}
h1 {
  margin-top: 0;
}
div.input {
  display: none;
}
#admin {
  background-color: #323;
  overflow: auto;
  padding: 5px;
}
#admin a {
  color: #ddd;
  text-decoration: none;
  border: 1px solid #323;
  padding: 1px;
}
#admin a:hover {
  border: 1px dotted #ddd;
}
#admin-actions {
  float: right;
}
#box {
  background-color: #fff;
  border: 1px solid #bbb;
  display: none;
  left: 50%;
  margin-left: -400px;
  padding: 5px;
  position: absolute;
  top: 40px;
  width: 800px;
}
